.filter {
  margin-bottom: 30px;
}

.filter-h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Nunito Sans", sans-serif;
}

.filter-input {
  width: 78%;
  height: 35px;
  background: #f7f7f7;
  border: 0;
  border-radius: 4px;
  outline: none;
}

.filter-btn {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  height: 35px;
  width: 14%;
  background: #0794e3;
  color: #fff;
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.filter-btn-img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
